.app {
  display: grid;
  grid-template-rows: 150px auto;
}
.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}
.bg {
  background-image: url(./assets/wind.png);
  width: 100%;  /* Adjust this to control the width or set to 100% for full width */
  height: 100px;  /* Adjust the height as needed */
  background-position: top right;
  background-repeat: no-repeat;  /* Ensures the image does not repeat */
  background-size: contain;
  opacity: 0.8;
}

